.home-container {
  /* min-height: 100vh; */
  padding: 40px;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.home-container h1 {
  margin-bottom: 30px;
}

.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.card {
  flex: 1;
  padding: 25px;
  border-radius: 16px;
  background: #1e293b;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  text-align: center;
}

.card h3 {
  font-size: 16px;
  opacity: 0.7;
}

.card p {
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
}

.charts {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.chart-box {
  flex: 1;
  min-width: 300px;
  background: #1e293b;
  padding: 25px;
  border-radius: 16px;
}